@charset "utf-8";
/* CSS Document */

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

p {
	padding-left:2em;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #e85546;
}

::selection {
    color: white; 
    background: #e85546;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#333;
	background-color:#f7f7f7;
}

.wrapper {
	position:relative;
	display:block;
	margin:0 auto;
	width:80%;
	padding:0 20px;
}

.image-wrapper {
	margin-top:54px;
	display:block;
	width:100%;
	background-size:cover;
	height:400px;
	background-position: center top;
}

#img-wrapper-1 {
	background-image:url('../images/blogkunawa.PNG');
}

#img-wrapper-2 {
	background-image:url('../images/kg1.jpg');
	background-position: center bottom;
}

#img-wrapper-3 {
	background-image:url('../images/oc2.jpg');
}

#img-wrapper-4 {
	background-image:url('../images/ac2.jpg');
}

#img-wrapper-5 {
	background-image:url('../images/gn1.jpg');
}

#story h2:before {
	content:"the story before...";
}

#impact h2:before {
	content:"the impact after...";
}

.wrapper h1, h2, h3 {
	color:#e85546;
	font-weight:700;
}

.right-wrapper h3 {
	color:#f90;
}

.left-wrapper h3 {
	color:#666;
	font-weight:300;
	font-style:italic;
	padding-left:1.2em;
}

.wrapper a {
	text-decoration:none;
	color:#e85546;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.wrapper a:hover {
	color:#F90;
}

#client h3:before {
	content:"the client";
}

#technique h3:before {
	content:"the tricks";
}

#budget h3:before {
	content:"the cost";
}

#share h3:before {
	content: "like it? share it!";
}

.detail-footer {
	display:block;
	width:100%;
	height:400px;
}

.detail-footer h2 {
	height:10%;
}

#contact {
	height:10%;
	text-align:center;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding-left: 1em; 
    text-indent: 0;
}

li:before {
    content: "•  ";
    color:#F90;
}

.left-wrapper {
	vertical-align:top;
	padding: 10px;
}

.right-wrapper {
	vertical-align:top;
	padding: 10px;
}


@media screen and (min-width:600px) {  
	.left-wrapper {
		display:inline-block;
		width:66%;
	}
	
	.right-wrapper {
		display:inline-block;
		width:30%;
	}
	
	.item {
		width:25%;
	}
}

@media screen and (max-width:999px) {
	
	.item {
		width:50%;
	}
}
@media screen and (max-width:599px) {
	.left-wrapper {
		display:block;
		width:100%;
	}

	.right-wrapper {
		display:block;
		width:100%;
	}
	
	.item {
		width:100%;
	}
}


/* For detail-footer */

.item {
	text-align:center;
	float:left;
	margin:0;
	position:relative;
	height:70%;
	vertical-align:top;
}


.item-img {
	background-size:cover;
	background-position: center center;
	background-repeat:no-repeat;
}

#img1 {
	background-image:url('../images/mpb.png');
}

#img2 {
	background-image:url('../images/kg2.png');
}

#img3 {
	background-image:url('../images/oc.jpg');
}

#img4 {
	background-image:url('../images/ac1.png');
}

#img5 {
	background-image:url('../images/gn2.jpg');
}

.item-hover,
.item-hover .mask,
.item-img,
.item-info {
	width:100%;
	height:100%;	
}

.item-hover,
.item-hover .mask,
.item-img { 
	position:absolute;
	top:0;
	left:0;			
}			

.item-type-line .item-hover {	
	z-index:100;	
	-webkit-transition: all 600ms ease-out;
	-moz-transition: all 600ms ease-out;
	-o-transition: all 600ms ease-out;
	transition: all 600ms ease-out;	
	opacity:0;
	cursor:pointer;						
	display:block;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
}

.item-type-line .item-info {
	z-index:10;
	color:#ffffff;
	display:table-cell;
	position:relative;
	z-index:5;	
	display:block;
	margin:auto;	
	margin-top:30%;
	height:70%;
	padding:0 10%;
}

.item-type-line .item-info .headline {
	font-size:1.5em;	
	font-weight:600;
}

.item-type-line .item-info .line {
	 height:1px;
	 width:0%;
	 margin:15px auto;
	 background-color:#ffffff;
	 -webkit-transition: all 500ms ease-out;
	 -moz-transition: all 500ms ease-out;
	 -o-transition: all 500ms ease-out;
	 transition: all 500ms ease-out;	
}

.item-type-line .item-info .details {
	 font-weight:200;
}
.item-type-line .item-hover .mask {
	background-color:#e85546;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);										
	opacity:0.8;
	z-index:0;
}

.item-type-line .item-hover:hover .line {
	width:60%;
}

.item-type-line .item-hover:hover {
	opacity:1;
}				

.item-img {
	background-color:#7a548f;
	z-index:0;			
}

.clear {
    clear: both;
}

/*Karl's CSS*/
.nav li:before {
	content: none;
	
}

.navbar {
 padding: 0 !important;
}

.nav li {
	margin-left: -16px;
}

/*Navbar*/
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

@media screen and (max-width: 758px) {
	.nav-adjustment {
		float: left;
		text-align: center;
		margin-left: 10%;
		
	}	
	.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
		border-top: 0px !important;
		background-color: #e74c3c !important;
		color: #fff !important;
	}
	
}

@media screen and (min-width: 759px) {
	.nav-adjustment {
		float: right !important;
		margin-right: 23px !important;
		padding-top: 4px !important;
	}
	
}


#navigation li {
	font-family:'open_sans_condensedbold', sans-serif;
	font-size: 16px;
	text-transform:uppercase;
	text-letter-spacing:0.2em;

}

.navbar-nav li a {
	color: #282828 !important;	
	font-size: 95%;
}
@media screen and (min-width: 759px) {
	#navigation li a:hover {
 		color: #e74c3c !important;
	}
}

@media screen and (max-width: 758px) {
	#navigation li a:hover {
 		text-decoration: none;
	}
}

.logo {
	display: inline;
	color: black;
	font-family: 'Playball', cursive;
	font-size:50.5px;	
}