@charset "utf-8";
/* CSS Document */


body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#333;
}

h1, h2, h3 {
	color:#e74c3c;
}

h1 {
	font-weight:200;
	font-size:3em;
	text-shadow: 5px 5px 0px #fff, 7px 7px 0px #e74c3;
}

h2 {
	font-weight:700;
	font-size:2.5em;
}

h3 {
	font-weight: 700;
}
.post-subtitle {
	font-weight:600;
	font-size:1.5em;
	line-height:1.1em;
	color:#555;
}

a {
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

a:hover, a:focus {
	color:#F90;
}

p {
	/* font-family: 'Merriweather', serif; */
	line-height:1.5;
	margin:30px 0;
	font-size:1.1em;
}


blockquote {
	color:#e74c3c;
	font-style:italic;
	font-weight:400;
}

.location {
	border:none;
	background-image:url('../img/locator.png');
	background-size:0;
	background-position:0 20%;
	background-repeat:no-repeat;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.location:hover {
	padding-left:100px;
	background-size:60px;
}


hr.small {
	max-width:100px;
	margin:15px auto;
	border-width:4px;
	border-color:#fff;
}

.intro-header {
	width:100%;
	background-image:url('../img/home-bg.jpg');
	-webkit-background-size:cover;
	    moz-background-size:cover;
	     -o-background-size:cover;
	background-size:cover;
	margin-bottom:50px;
	overflow:hidden;
	background-position:bottom center;
}

.container-header {
	width:100%;
	height:100%;
	
	background-image:url('../../images/grid-single.png');
}

.little-calendar {
	width:80px;
	height:80px;
	display:block;
	margin:auto;
	margin-top:0;
	background:#555;
	border-radius:40% 4px;
	color:white;
	text-align:center;
	line-height:30px;
	padding-top:10px;
}


.little-thumb {
	width:50px;
	height:50px;
	background-repeat:no-repeat;
	background-size:cover;
	display:block;
	margin:auto;
}

.intro-header .site-heading {
	padding:100px 0 50px;
	color:white;
	font-weight:800;
}

@media only screen and (min-width:768px){
	.intro-header .site-heading {
		padding:150px 0;
	}
}

.intro-header .site-heading {
	text-align:center;
}

.intro-header .site-heading h1 {
	margin-top:0;
	font-size:4em;
	font-weight:600;
	color:#eee;
	text-shadow: 0px 2px 3px #666;
}


.intro-header .site-heading .subheading {
	font-size:2em;
	line-height:1.1;
	color: #fff;
	display:block;
	font-weight:600;
	margin:10px 0 0;
	text-shadow: 0px 2px 3px #666;
}

.post-preview .post-meta {
	color:gray;
	font-size:0.8em;
	font-style:italic;
	font-weight:300;
	margin-top:0;
}

.pager{
	margin-top:30px;
	margin-bottom:80px;
}

.pager li>a,.pager li>span {
	text-transform:uppercase;
	font-size:0.8em;
	font-weight:800;
	letter-spacing:1px;
	padding:15px 25px;
	background-color:#fff;
	border-radius:0;
}

.pager li>a:hover,.pager li>a:focus{
	color:#fff;
	background-color:#e74c3c;
	border:1px solid #e74c3c;
}


.blog-post img {
	width:100%;
	outline: 1px #DDD solid;
	outline-offset: -5px;
	border:#fff 5px solid;
	box-shadow: 0px 7px 8px #888;
}

.about-author {
	text-align:center;
	font-weight:300;
	font-size:0.8em;
	max-width:700px;
	display:block;
	margin:auto;
}

.about-author b {
	font-weight:400;
	font-size:1.2em;
	line-height: 2em;
	color:#e74c3c;
}
.about-author img {
	height:80px;
	width:80px;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #e74c3c;
}

::selection {
    color: white; 
    background: #e74c3c;
}



/* Blog Post */
.section-heading{
	font-size:2em;
	font-weight:700;
	color:#555;
	line-height: 70%;
	text-transform:lowercase;
}

.caption{
	text-align:right;
	font-size:0.9em;
	padding:10px;
	font-weight:200;
	font-style:italic;
	margin:0;
	display:block;
	color:gray;
}

.comment-area {
	font-weight:300;
	font-size:0.8em;
	display:block;
	width:80%;
	margin:auto;
	padding-bottom:100px;
	
}


.comment-area h3 {
	font-size:2em;
	line-height:3em;
}


.comment-area img {
	height:50px;
	width:50px;
}
.comment-area table td {
	padding:10px;
	vertical-align:top;
	
}

.section-subheading {
	font-weight:700;
	color:#e74c3c;
	font-size:1.6em;
	text-transform:lowercase;
	line-height:1em;
	
}

.section-subheading::before {
	content:"▸    ";
}

.term-content>p {
	padding-left:2em;
}

.term-content i {
	font-size:1.3em;
	font-weight:200;
}

.term-contact {
	font-weight:300;
	margin-bottom:100px;
}

.term-contact table {
	margin-left:10%;
}
.term-contact table td {
	vertical-align:top;
	line-height:1.2em;
	padding-top:0.3em;
}